* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca";
  font-weight: 400;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  color: hsl(0, 0%, 95%);
  border-radius: 9px;
  margin-bottom: 3rem;
  max-width: 72rem;
}

svg {
  margin-bottom: 3rem;
}

.text-header {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: hsl(0, 0%, 95%);
}

.text-contents {
  font-family: "Lexend Deca";
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 5rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  padding: 3.5rem;
  /* border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem; */
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 3.5rem;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 3.5rem;
  /* border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem; */
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  /* font-size: 2rem; */
  padding: 1rem 2rem;
  border-radius: 3.5rem;
  margin-bottom: 1.5rem;
}

.btn:hover,
.btn:active {
  cursor: pointer;
}

.btn--sedans:link,
.btn--sedans:visited {
  color: hsl(31, 77%, 52%);
}
.btn--sedans:hover,
.btn--sedans:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 2px hsl(0, 0%, 95%);
}

.btn--suvs:link,
.btn--suvs:visited {
  color: hsl(184, 100%, 22%);
}
.btn--suvs:hover,
.btn--suvs:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 2px hsl(0, 0%, 95%);
}

.btn--luxury:link,
.btn--luxury:visited {
  color: hsl(179, 100%, 13%);
}
.btn--luxury:hover,
.btn--luxury:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 2px hsl(0, 0%, 95%);
}
